@import 'colors';
@import 'fonts';
@import 'layout';

body{
    background-color: $antiquewhite;
    font-family: $fontFamily;
    font-weight: $fontWeightRegular;
    font-size: $fontSize-medium;
}

main{
    background-color: $black;
    color: $antiquewhite;
    padding: 8rem 4rem;
}