@import 'colors';
@import 'fonts';
@import 'layout';
@import 'book';
@import 'media';

body{
    background-color: $gray;
    font-family: $fontFamily;
    font-weight: $fontWeightRegular;
    font-size: $fontSize-medium;
}

main{
    background-color: $black;
    color: $antiquewhite;

    section{
        gap: 2rem;
        min-height: 600px;

        .intro {
            background-image: url(../assets/images/jas-min.jpg); //https://unsplash.com/photos/person-in-red-and-black-plaid-pants-and-white-socks-awQOUrWbI68
            background-size: 1400px auto;
            min-height: 360px;
            }
            
        h1, form{
            color: $black;
            background-color: $white;
            padding: 1rem;
            opacity: 80%;
            margin: auto;
        }

        h2{
            background-color: $white;
            color: $black;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
            padding: 1rem 4rem; 

            article {
                width: 49%;
                background-color: $white;
                color: $black;
                min-height: 750px;
                position: relative;

                img {
                    max-height: 250px;
                }

                div {
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    position: absolute;
                    bottom: 20px;

                    a {
                        align-content: center;
                    }
                }
            }
        }  
    }
}