@import 'colors';
@import 'fonts';
@import 'layout';

body{
    background-color: $gray;
    font-family: $fontFamily;
    font-weight: $fontWeightRegular;
    font-size: $fontSize-medium;
}

main{
    background-color: $black;
    color: $antiquewhite;

    section{
        gap: 2rem;
        min-height: 600px;

        #homeIntro {
            background-image: url(../assets/images/jas-min.jpg); //https://unsplash.com/photos/person-in-red-and-black-plaid-pants-and-white-socks-awQOUrWbI68
            background-size: 1400px auto;
            }
            
        h1{
            color: $black;
            background-color: $white;
            padding: 1rem;
            opacity: 80%;
        }

        h2{
            background-color: $white;
            color: $black;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
            padding: 1rem 4rem; 

            article {
                width: 49%;

                button {
                    margin-bottom: 0;
                }
            }
        }  
    }
}